body {
    background-image: url("images/Background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Mali', cursive;
    color: white;
}
header {
    background-color: black;
    color: rgb(255, 255, 255);
    height: 70px;
    padding: 20px;
    text-align: center;
}
footer {
    background-color: black;
    color: white;
    height: 50px;
    padding: 10px; 
    text-align: center;
    font-size: large;
}
.mainpage {
    width: 1024px; 
    margin: 0 auto;
}
.headname1 {
    color: white;
    font-size: xx-large;
}
.headname2 {
    color: rgb(255, 255, 255);
    font-size: medium;
}

.graphic {
    background-image: url("images/chantaburi-cover.jpeg");
    height: 320px;
    padding: auto;
}