body {
    background-image: url('https://i.pinimg.com/564x/82/33/a9/8233a953d9bfe193ccc3af2712e3df3d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Mali', cursive;
    color: white;
}
header {
    background-color: black;
    color: rgb(255, 255, 255);
    height: 70px;
    padding: 20px;
    text-align: center;
}
footer {
    background-color: black;
    color: white;
    height: 50px;
    padding: 10px; 
    text-align: center;
    font-size: large;
}
.mainpage {
    width: 1024px; 
    margin: 0 auto;
}
.headname1 {
    color: white;
    font-size: xx-large;
}
.headname2 {
    color: rgb(255, 255, 255);
    font-size: medium;
}