body {
    color: white;
    font-family: 'Mali', cursive;
    background-image: url("images/Background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: black;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    height: 70px;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: black;
    border: 1px solid white;
    color: white;
    font-size: large;
    height: 50px;
    padding: 10px; 
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

.mainpage {
    margin: 0 auto;
    width: 1024px; 
}

.headname1 {
    color: white;
    font-size: xx-large;
}

.headname2 {
    color: rgb(255, 255, 255);
    font-size: medium;
}

.headname3 {
    color: rgb(255, 255, 255);
    font-size: medium;
}

.graphic {
    border: 1px solid rgb(0, 0, 0);
    background-image: url("images/chantaburi-cover.jpeg");
    height: 320px;
    padding: auto;
}

.maps {
    border: 1px solid rgb(0, 0, 0);
    height: 300px;
}

.top10 {
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    color: black;
    padding: 10px;
}

.img10 {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 190px;
}

.topmenu {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    color: black;
    height: 40px;
    font-size: small;
}

.topmenu ul {
    list-style: disc;
    margin: auto;
    display: flex;
    justify-content: left;
}

.topmenu li {
    float: right;
    padding: 10px 40px;
}